{% extends "layout.html" %}

{% block title %}
register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <input type="text" name="password" placeholder="Password">
    </div>
    <div class="mb-3">
        <input type="text" name="confirmation" placeholder="confirm Password">
    </div>
    <button class="btn btn-primary" type="submit">register</button>
</form>
{% endblock %}